{% for wallpaper in wallpapers %}
<div class="card fade-in">
    <a href="{{ url_for('main.wallpaper_detail', slug=wallpaper.slug) }}">
        {% if wallpaper.thumbnail_filename %}
        <img src="{{ url_for('static', filename='uploads/' + wallpaper.thumbnail_filename) }}"
            alt="{{ wallpaper.title }}" loading="lazy">
        {% else %}
        <img src="{{ url_for('static', filename='uploads/' + wallpaper.filename) }}" alt="{{ wallpaper.title }}"
            loading="lazy">
        {% endif %}
    </a>
    <div style="padding: 0.8rem; display: flex; flex-direction: column;">
        <div
            style="font-weight: bold; margin-bottom: 0.3rem; font-size: 1rem; color: var(--accent); white-space: nowrap; overflow: hidden; text-overflow: ellipsis; width: 100%;">
            {{ wallpaper.title }}</div>
        {% if wallpaper.tags %}
        <div
            style="margin-top: 0.2rem; font-size: 0.75rem; font-style: italic; color: var(--dim); white-space: nowrap; overflow: hidden; text-overflow: ellipsis; width: 100%; display: block;">
            {% for tag in wallpaper.tags %}
            <span>#{{ tag.name }}</span>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
{% endfor %}